<tr>
  <td><%= pair.winning.first.text %></td>
  <td><%= pair.winning.first.count(pair) %><%= " (" + pair.percent(pair.winning.first).to_s + "%)" if pair.percent(pair.winning.first) %></td>
  <td><%= pair.losing.count(pair) %><%= " (" + pair.percent(pair.losing).to_s + "%)" if pair.percent(pair.losing) %></td>
  <td><%= pair.losing.text %></td>
</tr>