<div class="table-responsive">
  <table class="table">
    <thead>
      <th><%= sortable "winning-text" %>Winning Choice</th>
      <th><%= sortable "winning-percent" %>Votes for Winning Choice</th>
      <th><%= sortable "losing-percent" %>Votes for Losing Choice</th>
      <th><%= sortable "losing-text" %>Losing Choice</th>
    </thead>
    <tbody>
      <%= render partial: "pair", collection: pairs, as: :pair %>
    </tbody>
  </table>
</div>