<div class="container">
  <div class="row text-center">
    <h1>Would you rather...</h1>
  </div>
  <div class="col-xs-5">
    <div class="row">
      <p class="new left-choice text-right"><%= @pair.left.text %></p>
    </div>
    <div class="row">
      <%= link_to "<button class='btn btn-info left-btn pull-right vote'>Vote</button>".html_safe, pair_choice_vote_path(@pair, @pair.left), method: "post", remote: true %>
    </div>
    <div class="row">
      <p class="old left-choice-count text-right"></p>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="row">
      <h4 class="text-center">OR</h4>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="row">
      <p class="new right-choice"><%= @pair.right.text %></p>
    </div>
    <div class="row">
      <%= link_to "<button class='btn btn-warning right-btn vote'>Vote</button>".html_safe, pair_choice_vote_path(@pair, @pair.right), method: "post", remote: true %>
    </div>
    <div class="row">
      <p class="old right-choice-count"></p>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to "New Choices", root_path, class: "btn btn-success new-choices hide" %>
  </div>
</div>