<div class="container">
  <div class="row text-center">
    <h1>Would you rather...</h1>
  </div>
  <div class="row">
    <div class="col-xs-5">
        <h3 class="new left-choice text-right"><%= @pair.left.text %></h3>
    </div>
    <div class="col-xs-2">
        <h3 class="text-center">OR</h3>
    </div>
    <div class="col-xs-5">
        <h3 class="new right-choice"><%= @pair.right.text %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= link_to "<button class='btn btn-default left-btn pull-right vote'>Vote</button>".html_safe, pair_choice_vote_path(@pair, @pair.left), method: "post", remote: true %>
      <h3 class="left-choice-count text-right"></h3>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-5">
      <%= link_to "<button class='btn btn-default right-btn vote'>Vote</button>".html_safe, pair_choice_vote_path(@pair, @pair.right), method: "post", remote: true %>
      <h3 class="right-choice-count"></h3>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to "NEXT!", root_path, class: "btn btn-danger new-choices hide" %>
  </div>
  <div class="row text-center">
    <%= image_tag @random_image, class: "drawings hide" %>
  </div>
</div>